@model List<KN_ProyectoWeb.Models.Carrito>

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="col-12">
    <div class="card overflow-hidden">

        <div class="d-flex align-items-center">
            <h5 class="card-header mb-0">Mi carrito</h5>
        </div>

        <div class="card-body ps ps--active-x ps--active-y">

            <table id="tCarritos" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>SubTotal</th>
                        <th>Impuesto</th>
                        <th>Total</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ConsecutivoProducto</td>
                            <td>@item.Nombre</td>
                            <td>$ @item.Precio.ToString("N2")</td>
                            <td>@item.Cantidad</td>
                            <td>$ @item.SubTotal.ToString("N2")</td>
                            <td>$ @item.Impuesto.ToString("N2")</td>
                            <td>$ @item.Total.ToString("N2")</td>
                            <td>

                                <a href="@Url.Action("RemoverProductoCarrito", "Carrito", new { q = item.ConsecutivoProducto })">
                                    <i class="fa fa-trash" style="font-size:22px;"></i>
                                </a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="~/StaticFiles/js/VerCarritos.js"></script>