@model KN_ProyectoWeb.Models.Admin

@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<link href="~/StaticFiles/css/principal.css" rel="stylesheet" />
<link href="~/StaticFiles/css/apex-charts.css" rel="stylesheet" />


<div class="row">

    <!-- Usuarios Activos -->
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card stat-card border-left-green">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="stat-icon">
                        <i class="bx bx-user-check fs-3 text-success"></i>
                    </div>
                </div>

                <span class="fw-semibold d-block mb-1">Usuarios Activos</span>
                <h3 class="fw-bold mb-0">@ViewBag.CantidadUsuariosActivos</h3>
            </div>
        </div>
    </div>

    <!-- Usuarios Inactivos -->
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card stat-card border-left-red">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="stat-icon">
                        <i class="bx bx-user-x fs-3 text-danger"></i>
                    </div>
                </div>

                <span class="fw-semibold d-block mb-1">Usuarios Inactivos</span>
                <h3 class="fw-bold mb-0">@ViewBag.CantidadUsuariosInactivos</h3>
            </div>
        </div>
    </div>

    <!-- Productos Activos -->
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card stat-card border-left-blue">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="stat-icon">
                        <i class="bx bx-package fs-3 text-primary"></i>
                    </div>
                </div>

                <span class="fw-semibold d-block mb-1">Productos Activos</span>
                <h3 class="fw-bold mb-0">@ViewBag.CantidadProductosActivos</h3>
            </div>
        </div>
    </div>

    <!-- Productos Inactivos -->
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card stat-card border-left-yellow">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="stat-icon">
                        <i class="bx bx-package fs-3 text-warning"></i>
                    </div>
                </div>

                <span class="fw-semibold d-block mb-1">Productos Inactivos</span>
                <h3 class="fw-bold mb-0">@ViewBag.CantidadProductosInactivos</h3>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-6">

        <div class="card overflow-hidden">

            <div class="d-flex align-items-center">
                <h5 class="card-header mb-0">Clientes Frecuentes</h5>
            </div>

            <div class="card-body ps ps--active-x ps--active-y">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre Cliente</th>
                            <th>Cantidad Visitas</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.listaUsuariosFrecuentes)
                        {
                            <tr>
                                <td>@item.NombreCliente</td>
                                <td>@item.CantidadVisitas</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>

    <div class="col-6">

        <div class="card overflow-hidden">

            <div class="d-flex align-items-center">
                <h5 class="card-header mb-0">Productos Vendidos</h5>
            </div>

            <div class="card-body ps ps--active-x ps--active-y">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre Producto</th>
                            <th>Cantidad Ventas</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.listaProductosMasVendidos)
                        {
                            <tr>
                                <td>@item.NombreProducto</td>
                                <td>@item.CantidadVendida</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

<div class="row mt-4">
    <div class="col-12">


        <!-- Expense Overview -->
        <div class="card h-100">
            <div class="card-body px-0">
                <div class="tab-content p-0">
                    <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">

                        <div id="incomeChart"></div>

                    </div>
                </div>
            </div>
        </div>
        <!--/ Expense Overview -->


    </div>
</div>

<script src="~/StaticFiles/js/apexcharts.js"></script>
<script src="~/StaticFiles/js/dashboards-analytics.js"></script>